@model Task_Managment_System.Models.ViewModel.ProjectDetailsViewModel

@{
    ViewBag.Title = "ProjectDetails";
}


<h2>Project Details</h2>
<table class="table">
    <tr>
        <th>
            <b>Project Name</b>
        </th>
        <th>
            <b>Project Description</b>
        </th>
        <th>
            <b>Project Budget</b>
        </th>
        <th>
            <b>Project Actual Cost</b>
        </th>
        <th>
            <b>Percentage Completed</b>
        </th>
        <th>
            <b>Project Deadline</b>
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProjectDescription)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProjectBudget)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProjectActualCost)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProjectPercentage)%
        </td>
        <td>
            @Html.DisplayFor(model => model.Deadline)
        </td>
    </tr>
</table>
<hr />
<br />
<br />

<h2>Project's Tasks</h2>
<table class="table">
    <tr>
        <th>
            <b>Task Title</b>
        </th>
        <th>
            <b>Assigned Developer</b>
        </th>
        <th>
            <b>Percentage</b>
        </th>
        <th>
            <b>Priority</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ProjectTasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageCompleted)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to Dashboard", "Index")
</p>