@model Task_Managment_System.Models.ViewModel.ProjectDetailsViewModel

@{
    ViewBag.Title = "ProjectDetails";
}


<h2>Project Details</h2>
<table class="table">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Project Description
        </th>
        <th>
            Project Budget
        </th>
        <th>
            Project Actual Cost
        </th>
        <th>
            Deadline
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProjectDescription)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProjectBudget)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProjectActualCost)
        </td>
        <td>
            @Html.DisplayFor(model => model.Deadline)
        </td>
    </tr>
</table>
<hr />
<br />
<br />

<h2>Project's Tasks</h2>
<table class="table">
    <tr>
        <th>
            Task Title
        </th>
        <th>
            Assigned Developer
        </th>
        <th>
            Percentage
        </th>
        <th>
            Priority
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ProjectTasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { projectId = item.Id }) |
                @Html.ActionLink("Details", "ProjectDetails", new { projectId = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { projectId = item.Id })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to Dashboard", "Index")
</p>