@model List<Task_Managment_System.Models.Project>

<h2>@ViewBag.Title</h2>

<main>
    <section>

        @Html.ActionLink("Incomplete", "ShowIncompleteProjects", null, new { @class= "btn btn-primary" })

        <ul class="list-group projects"  >
            @{
                foreach (var item in Model)
                {
                    <li class="list-group-item" project-key="@item.Id" onclick='handleToggleCompleteForProject(event,@item.Id)'>
                        @Html.CheckBox("check", item.Complete, new { @class = "form-check-input me-1" })
                        @Html.ActionLink(item.Name, "ShowTasksFor", new { projectId = item.Id }, new { @class = "btn btn-default" })
                        <div>Creator: @item.Creator</div>
                        <div>Date Created: @item.DateCreated</div>
                        <div>DeadLine: @item.Deadline</div>
                    </li>
                }
            }
        </ul>

    </section>
</main>

<script>

    function handleToggleCompleteForProject(event, projectId) {
        if (event.target.tagName === "INPUT") {
            $.ajax(
                {
                    type: 'POST',
                    url: "@Url.Action("UpdateCompleteStatusForProject", "ProjectManagers")/"+projectId,
                    data: {
                        isChecked: event.target.checked
                    },
                    success: function (result) {
                        //test
                        console.log(result.status);
                    },
                    error: function (err) {
                        //test
                        alert(err.responseText);
                    }

                }
            )
        }
    }


</script>

