@model List<Task_Managment_System.Models.Project>

<h2>@ViewBag.Title</h2>

<main>
    <section>

        <ul class="list-group projects">
            @{
                foreach (var project in Model)
                {
                    var managerName = project.Creator == null ? "" : project.Creator.UserName;

                    <li class="list-group-item" project-key="@project.Id" onclick='handleToggleCompleteForProject(event,@project.Id)'>
                        @Html.CheckBox("check", project.Complete, new { @class = "form-check-input me-1" })
                        @Html.ActionLink(project.Name, "ProjectDetails", new { projectId = project.Id }, new { @class = "btn btn-default" })
                        <div>Creator: @managerName</div>
                        <div>Date Created: @project.DateCreated</div>
                        <div>DeadLine: @project.Deadline</div>
                    </li>
                }
            }
        </ul>
        @Html.ActionLink("Back to list","Index")
    </section>
</main>

<script>

    function handleToggleCompleteForProject(event, projectId) {
        if (event.target.tagName === "INPUT") {
            $.ajax(
                {
                    type: 'POST',
                    url: "@Url.Action("UpdateCompleteStatusForProject", "ProjectManagers")/"+projectId,
                    data: {
                        isChecked: event.target.checked
                    },
                    success: function (result) {
                        //test
                        console.log(result.status);
                    },
                    error: function (err) {
                        //test
                        alert(err.responseText);
                    }

                }
            )
        }
    }


</script>

