@model Task_Managment_System.Models.ProjectTask
@using Task_Managment_System.Models
<br />
<br />
<h1>@Model.Title</h1>
<div>   
    <div>        
        <br />
        <strong style="font-size:20px;">Task Details:</strong> <br />
        <span style="font-size: 20px;">@Model.Contents</span><br />
        <br />
        <strong> Created: </strong>@Convert.ToDateTime(Model.DateCreated).ToString("MMMM/d/yyyy HH:mm") |
        <strong> Assigned Developer: </strong>@Model.AssignedUser.Email |
        <strong> Project: </strong> @ViewBag.ProjectName
        <br />
    </div>
</div>
<br />
<br />

@foreach (var comment in Model.Comments)
{
    if (Model.Complete == false && comment.IsUrgent == true)
    {
<table class="table table-bordered table-responsive-sm">
    <tr>
        <td style="font-size:20px; border-style:none;">
            @comment.Title
            <span style="color:white;
                    background-color:red;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 12px;
                    padding:4px;">
                URGENT
            </span>
        </td>
    </tr>
    <tr>
        <td style="border-style:none;">
            @comment.Content
        </td>
    </tr>
    <tr>
        <td style="border-style: none;">
            @comment.Creator.Email |
            @Convert.ToDateTime(comment.DateCreated).ToString("ddd/MMM/d/yyy")<br />
        </td>
    </tr>
</table>
    }
    else if (Model.Complete == true)
    {
        <table class="table table-bordered">
            <tr>
                <td style="font-size:20px; border-style:none;">
                    @comment.Title
                </td>
            </tr>
            <tr>
                <td style="border-style:none;">
                    @comment.Content
                </td>
            </tr>
            <tr>
                <td style="border-style: none;">
                    @comment.Creator.Email |
                    @Convert.ToDateTime(comment.DateCreated).ToString("ddd/MMM/d/yyy")<br />
                    <hr />
                </td>
            </tr>
        </table>
    }
}

@Html.Partial("../Shared/CommentFormPartialView", new Comment { TaskId = Model.Id })


