@model Task_Managment_System.Models.ProjectTask
@using Task_Managment_System.Models



<h1>@Model.Title</h1>

<div class="delete-task-button">
    <button class="btn btn-lg btn-primary text-muted" type="button" onclick="location.href='@Url.Action("Delete", "Tasks", new { task = Model.Id })'">
        Delete Task
    </button>
</div>

<div class="edit-task-button">
    <button class="btn btn-lg btn-primary text-muted" type="button" onclick="location.href='@Url.Action("Edit", "Tasks", new { taskId = Model.Id })'">
        Edit Task
    </button>
</div>

<div class="back-button">
    <button class="btn btn-lg btn-primary text-muted" type="button" onclick="location.href='@Url.Action("GetAllDeveloperTasks", "Developers")'">
        Back to Tasks
    </button>
</div>

<div>
    <div>
        <br />
        <strong style="font-size:20px;">Task Details:</strong> <br />
        <span style="font-size: 20px;">@Model.Contents</span><br />
        <br />
        <strong> Created: </strong>@Convert.ToDateTime(Model.DateCreated).ToString("MMMM/d/yyyy HH:mm") |
        <strong> Assigned Developer: </strong>@Model.AssignedUser.Email |
        <strong> Project: </strong> @ViewBag.ProjectName
        <br />
    </div>
</div>
<br />
<br />

@foreach (var comment in Model.Comments)
{
    if (Model.Complete == false && comment.IsUrgent == true)
    {
        <table class="table table-bordered table-responsive-sm">
            <tr>
                <td style="font-size:20px; border-style:none;">
                    @comment.Title
                    <span style="color:white;
                    background-color:red;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 14px;
                    padding:4px;">
                        <svg aria-hidden="true" width="14" height="14" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg> URGENT
                    </span>
                </td>
            </tr>
            <tr>
                <td style="border-style:none;">
                    @comment.Content
                </td>
            </tr>
            <tr>
                <td style="border-style: none;">
                    @comment.Creator.Email |
                    @Convert.ToDateTime(comment.DateCreated).ToString("ddd/MMM/d/yyy")<br />
                </td>
            </tr>
        </table>
    }
    else if (Model.Complete == true)
    {
        <table class="table table-bordered">
            <tr>
                <td style="font-size:20px; border-style:none;">
                    @comment.Title
                </td>
            </tr>
            <tr>
                <td style="border-style:none;">
                    @comment.Content
                </td>
            </tr>
            <tr>
                <td style="border-style: none;">
                    @comment.Creator.Email |
                    @Convert.ToDateTime(comment.DateCreated).ToString("ddd/MMM/d/yyy")<br />
                    <hr />
                </td>
            </tr>
        </table>
    }
}

@Html.Partial("../Shared/CommentFormPartialView", new Comment { TaskId = Model.Id })


