@{
    ViewBag.Title = "Home Page";
}

<div class="grid">
    <h2 class="grid fl1 mb24 text-uppercase">Welcome to your favorite task management tool!</h2>
    <br />
</div>

<div class="summary">
    @Html.ActionLink("Projects", "ShowAllProjects", "ProjectManagers", new { }, new { @class = "ws-nowrap s-btn s-btn__primary" })
    @Html.ActionLink("Tasks", "GetAllDeveloperTasks", "Developers", new { }, new { @class = "ws-nowrap s-btn s-btn__primary" })
    @Html.ActionLink("Notifications", "", new { }, new { @class = "ws-nowrap s-btn s-btn__primary" })

    <br />
    <br />
    @Html.ActionLink("Create Project", "", "", new { }, new { @class = "ws-nowrap s-btn s-btn__primary" })
    @Html.ActionLink("Create Task", "Create", "Tasks", new { }, new { @class = "ws-nowrap s-btn s-btn__primary" })


</div>